<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mySSM.dao.LoginMapper">
    <!--resultType错误会导致org.springframework.beans.factory.UnsatisfiedDependencyException -->
    <select id="Login" resultType="map">
        select * from `admin`
        where adminname = #{name} and password = #{pwd}
    </select>
</mapper>
