<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mySSM.dao.OrderMapper">

    <insert id = "addOrder" parameterType = "com.mySSM.pojo.Order">
        insert into `order`(name,sex,card,phone,suiteNum,EnterTime,suiteType,billingAdmin,SuitePrice,OrderState,Remark)
        value(#{name},#{sex},#{card},#{phone},#{suiteNum},#{EnterTime},#{suiteType},#{billingAdmin},#{suitePrice},#{state},#{Remark});
    </insert>

    <select id = "getOrderID" resultType="com.mySSM.pojo.Order">
        select * from `order`
        where id = #{id};
    </select>

    <select id = "getAll" resultType="com.mySSM.pojo.Order">
        select * from `order`;
    </select>

    <select id="getOrderByCard" resultType="com.mySSM.pojo.Order">
        select *
        from `order`
        where card = #{card};
    </select>

    <select id="getOrderBySuiteNum" resultType="com.mySSM.pojo.Order">
        select *
        from `order`
        where suiteNum = #{num};
    </select>

    <update id="UpdateOrder" parameterType="com.mySSM.pojo.Order">
        UPDATE `order`
        set ClientID = #{ClientId},suiteID = #{suiteId},EnterTime = #{EnterTime},EnitTime = #{EnitTime},
            SuiteType = #{SuiteType},billingAdmin = #{billingAdmin},checkAdmin = #{checkAdmin},
            SuitePrice = #{suitePrice},checkPrice = #{checkPrice},OrderState = #{state},Remark = #{Remark}
        where id = #{Id};
    </update>

</mapper>