<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mySSM.dao.OrderMapper">

    <insert id = "addOrder" parameterType = "com.mySSM.pojo.Order">
        insert into `order`(ClientID,suiteID,EnterTime,suiteType,billingAdmin,SuitePrice,OrderState,Remark)
        value(#{ClientId},#{suiteId},#{EnterTime},#{suite_Type},#{billingAdmin},#{SuitePrice},#{OrderState},#{Remark});
    </insert>

    <select id = "getAll" resultType="com.mySSM.pojo.Order">
        select * from `order`;
    </select>

    <select id="getOrderByClient" resultType="com.mySSM.pojo.Order">
        select *
        from `order`
        where ClientID = #{id};
    </select>

    <select id="getOrderBySuite" resultType="com.mySSM.pojo.Order">
        select *
        from `order`
        where suiteID = #{id};
    </select>

    <update id="UpdateOrder" parameterType="com.mySSM.pojo.Order">
        UPDATE `order`
        set ClientID = #{ClientId},suiteID = #{suiteId},EnterTime = #{EnterTime},EnitTime = #{EnitTime},
            SuiteType = #{Suite_Type},billingAdmin = #{billingAdmin},checkAdmin = #{checkAdmin},
            SuitePrice = #{SuitePrice},checkPrice = #{checkPrice},OrderState = #{OrderState},Remark = #{Remark}
        where id = #{Id};
    </update>

</mapper>