<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mySSM.dao.SuiteMapper">

    <insert id="addSuite" parameterType="com.mySSM.pojo.Suite">
        insert into suite (room_num,Suite_Type,Price,State,img,introduce)
        values (#{room_num},#{S_Type},#{Price},#{State},#{Img},#{Introduce});
    </insert>

    <delete id="deleteSuiteByNum" parameterType="_int">
        delete from suite
        where room_num=#{num}
    </delete>

    <update id="updateSuiteById" parameterType="com.mySSM.pojo.Suite">
        update  suite
        set  room_num=#{room_num},suite_Type=#{S_Type},Price=#{Price},State=#{State},Img=#{Img},introduce=#{Introduce}
        where id=#{Id};
    </update>

    <select id="querySuiteById" parameterType="_int" resultType="com.mySSM.pojo.Suite">
        select * from suite
        where id=#{Id};
    </select>

    <select id="queryAllSuite" resultType="com.mySSM.pojo.Suite">
        select * from suite
    </select>

    <select id="querySuiteByNum" resultType="com.mySSM.pojo.Suite">
        select * from suite
        where room_num=#{room_num};
    </select>

    <update id="updateState">
        update  suite
        set State= #{state}
        where room_num= #{num};
    </update>

</mapper>